<table>
  <thead>
    <tr>
      <th>Nationality</th>
      <th>Count</th>
      <th>Percentage</th>
      <th>Allowed Percentage</th>
    </tr>
  </thead>
  <tbody>
    <% @nationality_report.parsed_result.each do |nationality, data| %>
      <tr>
        <td><%= nationality %></td>
        <td><%= data[:count] %></td>
        <td><%= data[:percentage] %></td>
        <td><%= data[:allowed_percentage] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
