<h1>Editing nationality report</h1>

<%= render "form", nationality_report: @nationality_report %>

<br>

<div>
  <%= link_to "Show this nationality report", @nationality_report %> |
  <%= link_to "Back to nationality reports", nationality_reports_path %>
</div>
